<app-header></app-header>
<app-cart-drawer></app-cart-drawer>
<app-toast></app-toast>
<div class="page">
 <router-outlet></router-outlet>
</div>

<footer class="mcm-footer" aria-label="Lábléc">
  <div class="inner">
    <nav class="links" aria-label="Információk">
      <a routerLink="/about">Rólunk</a>
      <a routerLink="/contact">Kapcsolat</a>
      <a routerLink="/faq">GYIK</a>
      <a routerLink="/terms">ÁSZF</a>
    </nav>

    <div class="copyright">
      © 2026 MCM – Modular Computing Market. Minden jog fenntartva.
    </div>
  </div>
</footer>
